/* body { 
    background-image: url(https://images.pexels.com/photos/110854/pexels-photo-110854.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
} */